<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="speakerRepository" class="be.dog.d.steven.repository.impl.HibernateSpeakerRepositoryImpl" />
    
<!--    <bean name="speakerService" class="be.dog.d.steven.service.impl.SpeakerServiceImpl">-->
<!--        <property name="speakerRepository" ref="speakerRepository"/>-->
<!--        <constructor-arg index="0" ref="speakerRepository"/>-->
<!--    </bean>-->

<!--    <bean name="speakerService" class="be.dog.d.steven.service.impl.SpeakerServiceImpl" autowire="constructor"/>-->
<!--    <bean name="speakerService" class="be.dog.d.steven.service.impl.SpeakerServiceImpl" autowire="byType"/>-->
    <bean name="speakerService" class="be.dog.d.steven.service.impl.SpeakerServiceImpl" autowire="byName"/>

</beans>